<%= form_for(dummy) do |f| %>
  <% if dummy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dummy.errors.count, "error") %> prohibited this dummy from being saved:</h2>

      <ul>
      <% dummy.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
