<div class="jumbotron" style="margin-bottom: 0 !important;">

  <div class="container">

    <div class="panel panel-primary">

      <div class="panel-heading cs-center">
        <h4 class="cs-no-margin">

          <%= @subject %>

        </h4>
      </div>

      <div class="panel-body cs-no-padding">

        <p style="font-size: 16px;">
          <%= @debugged_item.inspect %>
        </p>

      </div>

    </div>

  </div>

</div>
