/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require jquery-ui
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "bootstrap-material-design";

h1, h2, h3,
h4, h5, h6 {
  @extend %headings !optional;
}

body {
  padding-top: 50px;
}

@media (min-width: 1200px) {
  body {
    padding-top: 60px;
  }
}

.cs-center {
  text-align: center;
}

.cs-left-align {
  text-align: left;
}

.cs-no-margin {
  margin: 0 !important;
}

.cs-no-padding {
  padding: 0 !important;
}

.cs-pull-right {
  float: right;
}

.cs-full-width {
  width: 100% !important;
}

.cs-full-width:before {
  width: 100% !important;
}

.cs-sidebar .panel-heading {
  padding-top: 20px;
  padding-bottom: 20px;
}

.cs-sidebar .panel:last-child {
  margin-bottom: 0;
}

.cs-sidebar .panel .list-group, .cs-love-panel .list-group {
  margin-bottom: 0;
}

.cs-sidebar .panel-heading {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.cs-sidebar .panel-heading a {
  color: inherit;
}

.cs-category-row {
  min-height: 0 !important;
}

.cs-category-row a {
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: initial;
  text-transform: initial;
}

.cs-main-area {
  padding-left: 20px;
  padding-right: 20px;
}

.cs-main-area .panel-heading {
  padding-top: 0;
  padding-bottom: 0;
}

.cs-main-area .panel-heading %headings {
  padding-top: 15px;
  padding-bottom: 15px;
  display: inline-block;
}

@media (min-width: 768px) {
  .cs-main-area .panel:first-child {
    margin-top: 20px;
  }
}

.cs-main-area .row-picture {
  vertical-align: top;
}

.cs-main-area .row-picture i {
  font-style: initial;
}

.cs-sidebar-footer-link {
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: initial;
  text-transform: initial;
}

@media (min-width: 768px) {
  .cs-condensed-list .list-group-item {
    display: inline-block;
    width: 49%;
  }
}

@media (min-width: 768px) {
  .cs-dater-panels .col-sm-4:first-child {
    padding-left: 0;
  }

  .cs-dater-panels .col-sm-4:not(:first-child):not(:last-child) {
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .cs-dater-panels .col-sm-4:last-child {
    padding-right: 0;
  }
}

@media (max-width: 767px) {
  .cs-dater-panels .col-sm-4 {
    padding: 10px 0;
  }

  .cs-dater-panels .col-sm-4:first-child {
    padding-top: 0;
  }

  .cs-dater-panels .col-sm-4:last-child {
    padding-bottom: 0;
    margin-bottom: 20px;
  }
}

.cs-package-stars {
  opacity: 0.4;
}

.ui-autocomplete {
  z-index: 2000;
  @extend .well;
  @extend .cs-no-padding;
}

.cs-dummy-link {
  font-size: 0;
}

.cs-contributors-list .cs-grey-image a {
  padding: 30px 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  filter: gray; /* IE6-9 */
  filter: grayscale(0.95); /* Microsoft Edge and Firefox 35+ */
  -webkit-filter: grayscale(0.95); /* Google Chrome, Safari 6+ & Opera 15+ */
  opacity: 0.75;
}

.cs-contributors-list .cs-grey-image a:hover {
  filter: none;
  filter: grayscale(0.25); /* Microsoft Edge and Firefox 35+ */
  -webkit-filter: grayscale(0.25); /* Google Chrome, Safari 6+ & Opera 15+ */
  opacity: 0.9
}

.cs-contributors-list .cs-grey-image:not(:first-child) {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}
