<div class="panel-footer cs-center cs-no-padding">

  <a href="https://github.com/djsegal/julia_observer" target="_blank" class="btn btn-default cs-side-bar-footer-link cs-full-width cs-no-margin">

    <%= fa_icon "github lg" %>

    &nbsp; follow us on github

  </a>

</div>
