<%
  is_unscoped = false unless defined? :is_unscoped
%>

<div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
  <div class="py-4">

    <div class="bg-white shadow overflow-hidden rounded-md">
      <div class="bg-white px-4 py-5 sm:px-6">
        <div class="-ml-4 -mt-2 flex items-center justify-between flex-wrap sm:flex-no-wrap">
          <div class="ml-4 mt-2">
            <h3 class="text-xl leading-6 font-medium text-gray-900">
              <%= package_header %> Packages
            </h3>
          </div>
          <div class="ml-4 mt-2 flex-shrink-0">
            <span class="inline-flex rounded-md" style="vertical-align: middle;">

              <button @click="open = !open" class="js-filter-packages relative inline-flex items-center text-gray-400 hover:text-gray-600 focus:outline-none focus:text-gray-600" data-tippy-content="Filter Packages">
                <svg class="h-5 w-5" fill="currentColor" viewBox="0 0 20 20">
                  <path d="M10 6a2 2 0 110-4 2 2 0 010 4zM10 12a2 2 0 110-4 2 2 0 010 4zM10 18a2 2 0 110-4 2 2 0 010 4z" />
                </svg>
              </button>

              <script>
                tippy('.js-filter-packages', {placement: 'left'});
              </script>

            </span>
          </div>
        </div>
      </div>

      <% if @packages.empty? %>
        <div class="px-6 pt-1 pb-5">
          <div class="pb-0.5 text-gray-500">
            <p>
              No packages found.
            </p>
          </div>
        </div>
      <% else %>
        <ul id="packages_table">
          <%= render partial: 'layouts/page_items' %>
        </ul>
      <% end %>

      <% unless is_unscoped %>
        <%
          init_params = {
            order: params[:order], sort: params[:sort],
            min_stars: params[:min_stars], since: params[:since]
          }

          init_params.delete_if { |k, v| !v.present? }
        %>

        <%= link_to packages_path(init_params), class: "bg-gray-50 border-t border-gray-200 block hover:bg-white focus:outline-none focus:bg-white transition duration-150 ease-in-out" do %>
            <div class="py-4">
              <div class="text-center items-center justify-between js-view-all">
                <% if @pagy.page == @pagy.pages %>
                  View all packages
                <% else %>
                  Loading more...
                <% end %>
              </div>
            </div>
        <% end %>
      <% end %>

    </div>
  </div>
</div>
