<div class="panel panel-primary">

  <div class="panel-heading cs-center">
    <h4 class="cs-no-margin">Julia Observer</h4>
  </div>

  <div class="panel-body cs-no-padding">

    <div class="list-group">

      <div class="list-group-item cs-no-padding">

        <div class="row-content cs-full-width cs-category-row">

          <a href="https://github.com/djsegal/julia_observer" target="_blank" class="btn btn-default cs-full-width cs-left-align cs-no-margin">

            <h5 class="cs-center">
              made w/ &#60;3
            </h5>

          </a>

        </div>

      </div>

    </div>

  </div>

  <div class="panel-footer cs-center cs-no-padding">
    <a href="https://github.com/djsegal/julia_observer" target="_blank" class="btn btn-default cs-sidebar-footer-link cs-full-width cs-no-margin">
      <%= fa_icon "github lg" %>
      &nbsp; fork us on github
    </a>
  </div>

</div>
