<div class="panel panel-default">

  <div class="panel-heading">

    <h4 class="cs-no-margin">
      Readme
    </h4>

  </div>

  <div class="panel-body">
    <%
      raw_html = render_markup \
        @package.readme, \
        @package.readme_type
    %>

    <%= raw_html.html_safe %>
  </div>

</div>
